@import 'styles/typography';
@import 'styles/colors';

.Button {
  padding: 16px 22px;
  background: color(ink);

  @include text-style-body;
  font-weight: 500;
  color: color(white);
  outline: none;
  border-radius: 7px;
  border: none;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;

  &.inverted {
    background: color(white);
    border: 3px solid color(ink);
    color: color(ink);
    padding: 13px 19px;

    &:hover {
      background: darken($color: color(white), $amount: 5%);
    }
  }

  &:hover {
    background: darken($color: color(ink), $amount: 10%);
  }

  transition: background 0.2s ease;
}

.Spinner {
  margin-right: 8px;
  margin-left: -4px;
  margin-top: -10px;
  margin-bottom: -10px;
}
