$theme-data: (
  ink: #212b36,
  ink-light: #454f5b,
  ink-lighter: #637381,
  ink-lightest: #919eab,
  sky: #dfe3e8,
  sky-light: #f4f6f8,
  sky-dark: #c4cdd5,
  red: #de3618,
  green-dark: #108043,
  green-light: #bbe5b3,
  orange-light: #ffc58b,
  indigo-light: #b3bcf5,
  white: #ffffff,
);

@function color($key) {
  $fetched-value: map-get($theme-data, $key);

  @if type-of($fetched-value) !=null {
    @return $fetched-value;
  } @else {
    @error 'Column `#{$name} - #{$value}` not found. Available columns: #{available-names($theme-data)}';
  }
}
