.Index {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.LoginFormLayout {
  display: flex;
  flex-direction: row;
  margin: 50px 0;

  & > :last-child {
    flex: 0 0 34%;
  }
}

.LeftLoginSection {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  flex: 1;

  & > :not(:last-child) {
    margin-bottom: 20px;
  }
}

.ButtonRow {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > :not(:last-child) {
    margin-right: 20px;
  }
}
