.LoginFormLayout {
  display: flex;
  flex-direction: row;
  margin: 50px 0;

  & > :last-child {
    flex: 0 0 34%;
  }
}

.LeftLoginSection {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  flex: 1;

  & > :not(:last-child) {
    margin-bottom: 20px;
  }
}
