@import 'styles/colors';
@import 'styles/typography';

.TextField {
  margin: 0;
  background: color(sky-light);
  border-radius: 7px;
  padding: 14px 22px;
  border: none;
  outline: none;

  color: color(ink);

  @include text-style-body;

  &::placeholder {
    color: color(ink-lightest);
  }
}
